#Thüringen {
    fill: #f00;
}

#Schleswig-Holstein{
    fill: #ff7f00;
}

#Sachsen-Anhalt {
    fill: #ff0;
}

#Sachsen {
    fill: #0f0;
}

#Saarland {
    fill: #0ff;
}

#Rheinland-Pfalz {
    fill: #00f;
}

#Nordrhein-Westfalen {
    fill: #f0f;
}

#Niedersachsen {
    fill: #f00;
}

#Mecklenburg-Vorpommern {
    fill: #ff7f00;
}

#Hessen {
    fill: #ff0;
}

#Hamburg {
    fill: #0f0;
}

#Bremen {
    fill: #0ff;
}

#Brandenburg {
    fill: #00f;
}

#Berlin {
    fill: #f0f;
}

#Bayern {
    fill: #f00;
}

#Baden-Württemberg {
    fill: #ff7f00;
}